<p id="notice"><%= notice %></p>

<h1>画像投稿してもいつかは消えるサイト</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.name %></td>
        <td><%= idea.description %></td>
        <td><%= image_tag(idea.picture_url, width: 90) if idea.picture.present? %></td>
        <td><%= link_to 'みる', idea ,class:"btn btn-success" %></td>
        <td><%= link_to 'かえる', edit_idea_path(idea) ,class:"btn btn-success" %></td>
        <td><%= link_to 'なかったことにする', idea, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idea', new_idea_path ,{class:'btn btn-outline-primary btn-lg'} %>
